<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

  <!-- DIRECTIVEN -->

  <mtag-color-picker></mtag-color-picker>
  </br>
  <label>Mouse Down</label>
  <input type="text" mtag-mouse-down>
  </br>
  <label>Custom Class</label>
  <input type="text" class="mtag-custom-class">

  <!-- <div class="mtag-custom-class"></div> -->

  <!-- FILTER --->
  </br>
  <label>Uppercase Filter</label>
  <input type="text" ng-model="filterExample1"> {{filterExample1|mtagUpperCase}}

  </br>
  <label>Regex Filter</label>
  <input type="text" ng-model="filterExample2"> {{filterExample2|mtagRegex: '[0-9]': 'X'}}

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>

  <script src="components/directive/example1/color-picker.js"></script>
  <script src="components/directive/example2/mouse-down.js"></script>
  <script src="components/directive/example3/class-directive.js"></script>

  <script src="components/filter/example1/upper-case-filter.js"></script>
  <script src="components/filter/example2/regex-filter.js"></script>

</body>
</html>
